/* =========== Header ============= */

.header {
   display: flex;
   justify-content: space-between;
   background-color: #9099a2;
   align-items: center;
}

.title {
   font-size: 1rem;
   margin: 10px;
}

.nav-links ul {
   display: flex;
   margin: 0;
   padding: 0;
}

.nav-links li {
   list-style: none;
}

.nav-links li a {
   text-decoration: none;
   color: #d5d5d5;
   padding: 1rem;
   display: block; /* allows setting of width and height */
}

/* need another color for this plus the static text */
.nav-links li a:hover {
  background-color: #2e2e2e;
  color: #ebeaea;
}

/* ---- Menu button ----- */

.hamburger-button {
   /* pushes to the right */
   position: absolute;
   top: 10px;
   right: 15px;
   display: none;
   flex-direction: column;
   justify-content: space-between;
   width: 30px;
   height: 20px;
}

.hamburger-button .menu-bar {
   height: 3px;
   width: 100%;
   background-color: #d5d5d5;
   border-radius: 10px;
}

/* change to 400-500 range; just placeholder on larger screen */
@media (max-width: 500px) {
   .hamburger-button {
      display: flex;
      margin-top: 5px;
   }

   .nav-links {
      display: none;
      width: 100%;
   }

   .header {
      flex-direction: column;
      align-items: flex-start;
   }

   .nav-links ul {
      width: 100%;
      flex-direction: column;
      align-items: flex-end;
   }

   .nav-links li {
      width: 20%;
      text-align: center;
   }

   .nav-links li a {
      padding-top: 5px;
      padding-right: 40px;
      padding-bottom: 10px;
   }

}

/* =========== Misc.=============== */

/* helps with width */
* {
   box-sizing: border-box;
}

/* play around with this more to see what works best */
body {
   padding: 0;
   margin-bottom: 0;
}

/* ================= Home/Main page ================= */

.main-container {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   background-image: linear-gradient(to bottom right, white, black);
}

.headshot-img img {
   border-radius: 30px;
   max-width: 350px;
   max-height: 95%;
   padding: 10px;
}

@media (max-width: 500px) {
   .main-container {
      display: flex;
      flex-direction: column;
      line-height: 2rem;
   }
   
   .main-container img {
      max-width: 80%;
      max-height: 50%;
   }
}

@media (min-width: 800px) {
   .main-container {
      display: flex;
      justify-content: center;
   }
}

/* ---- Modal pop-up ----- */

#modal {
   background-color: rgba(0,0,0,0.4);
   position: fixed;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   z-index: 1;
   display: none;
}

#modal-textbox {
   background-color: lightgrey;
   max-height: 400px;
   max-width: 550px;
   border-radius: 5px;
   border-top: 20px solid blue;
   border-right: 5px solid blue;
   border-bottom: 5px solid blue;
   border-left: 5px solid blue;
   margin: 150px auto;
   box-shadow: 2px 2px black;
   text-align: center;
   line-height: 3rem;
   padding: 1rem;
}

#modal-textbox h1 {
   text-transform: uppercase;
   font-size: 40px;
   color: rgb(247, 247, 30);
   text-shadow: 2px 2px rgb(29, 29, 29);
   /* padding: 1rem; */
}

#claim {
   padding: 5px;
   margin: 10px;
   border: 2px solid black;
}

#claim a {
   text-decoration: none;
   color: inherit;
   font-size: 15px;
}

#modal-header {
   text-align: left;
}

#modal-header button {
   background-color: red;
   color: white;
   font-weight: bold;
   cursor: pointer;
}

#modal-textbox span{
   color: red;
   text-transform: uppercase;
   font-size: 30px;
}

@media (max-width: 500px) {

   #modal-textbox{
      padding: 1rem;
      width: 80%;
   }

   #modal-textbox h1 {
      font-size: 30px;
   }
}


/* ================= About page ================= */

.about-container {
   display: flex;
   flex-flow: column nowrap;
   justify-content: center;
   background-image: linear-gradient(to bottom right, #d5d5d5, #838383);
}

.about-container h2 {
   text-align: center;
   color: black;
   text-shadow: 2px 2px #d5d5d5;
}

.work-stuff {
   display: flex;
   flex-direction: row;
   justify-content: center;
   padding: 10px;
}

.fun-stuff {
   display: flex;
   flex-direction: row;
   justify-content: center;
   padding: 10px;
}

.work-card {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   border: 5px solid black;
   border-radius: 20px;
   width: 50%;
   padding: 10px;
   margin: 0 auto;
   font-size: 20px;
   background-color: #6d7993;
   color: #f8eee7;
}

.fun-card {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   border: 5px solid black;
   border-radius: 20px;
   width: 50%;
   padding: 10px;
   margin: 0 auto;
   font-size: 20px;
   background-color: #96858f;
   color: #f8eee7;
}

/* NOTES: 
   -For card flip, use toggleClass in jQuery
   + transform / translate
   + perspective for 3D effect - not necessary */

.headshot-img-2 {
   border-radius: 30px;
   max-width: 350px;
   max-height: 95%;
   padding: 10px;
}

.fun-Kevin-img {
   border-radius: 30px;
   max-width: 350px;
   max-height: 95%;
   padding: 10px;
}

@media (max-width: 650px) {
   .work-stuff {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
   }

   .work-card {
      width: 80%;
   }

   .headshot-img-2 {
      width: 80%;
   }

   .fun-stuff {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      padding: 10px;
   }

   .fun-card {
      width: 80%;
   }

   .fun-Kevin-img {
      width: 80%;
   }
}

@media (min-width: 800px) {
   .about-container {
      display: flex;
      justify-content: center;
   }
}

/* ================= Projects page ================= */

.projects-container {
   display: flex;
   flex-direction: column;
   padding: 10px;
   background-image: linear-gradient(to bottom right, #d5d5d5, #838383);
}

.projects-container h2 {
   text-align: center;
   padding: 10px;
}

.project-cards {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-evenly;
}

.project-cards div {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   border: 3px solid #525252;
   border-radius: 10px;
   padding: 10px;
   box-shadow: 5px 5px 5px grey;
   background-color: #6d7993;
   max-width: 200px;
}

 /* ------ castle battle ------- */

.castle-battle img {
   width: 90%;
   border-radius: 10px;
}

/* ------ space battle ------- */

.space-battle img {
   width: 90%;
   height: 75%;
   border-radius: 10px;;
}

/* ------ flowerbox ---------- */

.flowerbox img {
   width: 90%;
   border-radius: 10px;
}


/* ------ landscaper --------- */

.landscaper img {
   width: 95%;
   border-radius: 10px;
}

/* --------- misc. ----------- */

.projects-container a {
   color: inherit;
   text-decoration: none;
   font-size: 20px;
   color: #f8eee7;
}

.projects-container button {
   border-radius: 10px;
   background-color: #96858f;
   transition: transform .2s;
}

.projects-container button:hover {
   transform: scale(1.2);
}

/* ================= Resume page ================= */

.skills li {
   list-style: none;
}

.resume-container  {
   /* background-image: linear-gradient(to bottom right, #d5d5d5, #838383); */
   display: flex;
   flex-direction: column;
   background-image: linear-gradient(to bottom right, #d5d5d5, #838383);
   padding: 20px;
}

.summary {
   display: flex;
   border: 5px solid #525252;
   border-radius: 10px 10px;
   padding: 1rem;
   margin: 2rem;
   color: #f8eee7;
   background-color: #96858f;
   box-shadow: 5px 5px 5px black;
}

#accordion-1 .ui-accordion-content {
   background-color: #6d7993;
   box-shadow: 5px 5px 5px black;
   color: #f8eee7;
   padding: 1rem;
   margin: 1rem;
   width: 49%;
}

#accordion-1 .ui-accordion-header {
   color: black;
   width: 50%;
   box-shadow: 5px 5px 5px black;
   font-family: Georgia, 'Times New Roman', Times, serif;
}

#accordion-2 .ui-accordion-header {
   color: black;
   width: 50%;
   box-shadow: 5px 5px 5px black;
   font-family: Georgia, 'Times New Roman', Times, serif;
}

.experience h3 {
   text-transform: uppercase;
   color: #f8eee7;
   border-bottom: 1px solid black;
   border-width: thick;
   border-radius: 5px;
   width: 50%;
   padding-bottom: 5px;
}

.education h3 {
   text-transform: uppercase;
   color: #f8eee7;
   border-bottom: 1px solid black;
   border-width: thick;
   border-radius: 5px;
   width: 50%;
   padding-bottom: 5px;
}

.skills h3 {
   text-transform: uppercase;
   color: #f8eee7;
   border-bottom: 1px solid black;
   border-width: thick;
   border-radius: 5px;
   width: 50%;
   padding-bottom: 5px;
}

/* ================= Contact page ================= */

.contact-form {
   /* padding: 20px;
   margin: 30px; */
   background-image: linear-gradient(to bottom right, #d5d5d5, #838383)
}

.contact-form h1 {
   text-align: center;
   color: #f8eee7;
   padding: 20px;
   margin: 0 auto;
}
#inputs {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: flex-start;
}

#inputs input {
   padding: 10px;
   margin: 20px;
   /* is this working? */
   min-width: 300px;
   border-radius: 10px;
   border: 3px solid #96858f;
}

textarea {
   font-family: arial;
   border: 3px solid #96858f;
   border-radius: 10px;
   padding: 10px;
   margin: 20px;
   height: 185px;
   width: 400px;
}

#submit-button {
   border: none;
   padding: 10px;
   margin: 20px;
   width: 30%;
   height: 50px;
   border-radius: 10px;
   background-color: #6d7993;
   color: #f8eee7;
   cursor: pointer;
   text-transform: uppercase;
}
/* ==================== Footer ==================== */

.footer a {
   text-decoration: none;
   font-family: Georgia, 'Times New Roman', Times, serif;
   /* removes color indicating previously clicked */
   color: inherit;
   font-size: 1rem;
   padding: 1rem;
   color: #d5d5d5;
   transition: color 0.3s;
   /* display: block; */
   /* makes icons grow on hover - used with transform (below) */
   transition: transform .2s;
}

.footer a:hover {
   color: #ebeaea;
   transform: scale(1.8);
}

nav.footer {
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   background-color: #9099a2;
}